nav{
    margin-top: 5px;
    padding: 20px;
    background-color: cornflowerblue;
}    
a{
    padding: 50px;
    text-decoration: none;
}
img{
    height: 50px;
    width: 50px;
    border-radius: 40px;
}
body{
    background-color: black;
}
#titlePage{
    text-align: center;
    font-size: 100px;
    font-family: 'Courier New', Courier, monospace;
    background-color: chartreuse;
    padding: 50px;
    font-weight: 600;
}
#titlePage hover{
    font-family: 'Times New Roman', Times, serif;
    color: red;
    font-weight: 400;
}